BMI_Web_Form/Connected Services/ServiceReferenceRest/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="calculateBMI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="weight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calculateBMIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calculateBMIResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHealthIndicator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BMI" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHealthIndicatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getHealthIndicatorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>